

    <div id="sidebar"  class="c-sidebar c-sidebar-fixed c-sidebar-lg-show">
        <div class="c-sidebar-brand d-md-down-none">
            <div class="c-sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
                <h2>Test</h2>
            </div>
            <div class="c-sidebar-brand-minimized" width="46" height="46" alt="CoreUI Logo">
                <h1>T</h1>
            </div>
        </div>
        <ul class="c-sidebar-nav ps">
            <li class="c-sidebar-nav-item">
                <NavLink id="DashBoardNavBtn" ActiveClass="active" class="c-sidebar-nav-link" href="" Match="NavLinkMatch.All">
                    <i class="c-sidebar-nav-icon icon-speedometer"></i> Dashboard
                </NavLink>
            </li>
            <li class="c-sidebar-nav-item">
                <NavLink id="JobDetailsNavBtn" ActiveClass="active" class="c-sidebar-nav-link" href="counter" Match="NavLinkMatch.All">
                    <i class="c-sidebar-nav-icon icon-puzzle"></i> counter
                </NavLink>
            </li>
            <li class="c-sidebar-nav-dropdown">
                <a id="nav1" class="c-sidebar-nav-dropdown-toggle">
                    <i class="c-sidebar-nav-icon icon-printer"></i> Test Nav Dropdown
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <NavLink id="fetchdata" class="c-sidebar-nav-link" href="fetchdata">
                            fetchdata
                        </NavLink>
                    </li>

                    <li class="c-sidebar-nav-item">
                        <NavLink id="counter" class="c-sidebar-nav-link level1" href="counter">
                            counter
                        </NavLink>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <NavLink id="fetchdata" class="c-sidebar-nav-link level1" href="fetchdata">
                            fetchdata
                        </NavLink>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <NavLink id="counter" class="c-sidebar-nav-link level1" href="counter">
                            counter
                        </NavLink>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <NavLink id="fetchdata" class="c-sidebar-nav-link level1" href="fetchdata">
                            fetchdata
                        </NavLink>
                    </li>

                </ul>
            </li>

            <li class="c-sidebar-nav-item">
                <NavLink id="nav2" ActiveClass="active" class="c-sidebar-nav-link" href="counter2" Match="NavLinkMatch.All">
                    <i class="c-sidebar-nav-icon icon-puzzle"></i> counter2
                </NavLink>
            </li>
            <li class="c-sidebar-nav-dropdown">
                <a id="Dropdown" class="c-sidebar-nav-dropdown-toggle" href="#">
                    <i class="c-sidebar-nav-icon icon-printer"></i> Test Nav Dropdown 2
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <NavLink id="counter" class="c-sidebar-nav-link level1" href="counter">
                            counter
                        </NavLink>
                    </li>

                </ul>
            </li>
            <li class="c-sidebar-nav-item">
                <NavLink id="nav3" ActiveClass="active" class="c-sidebar-nav-link" href="counter3" Match="NavLinkMatch.All">
                    <i class="c-sidebar-nav-icon icon-puzzle"></i> counter3
                </NavLink>
            </li>
            <li class="c-sidebar-nav-dropdown">
                <a id="Dropdown" class="c-sidebar-nav-dropdown-toggle" href="#">
                    <i class="c-sidebar-nav-icon icon-printer"></i> Test Nav Dropdown 2
                </a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <NavLink id="counter" class="c-sidebar-nav-link level1" href="counter">
                            counter
                        </NavLink>
                    </li>

                </ul>
            </li>
        </ul>
        <button id="BrandMinimizerBtn" class="c-sidebar-minimizer brand-minimizer" type="button"></button>
    </div>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
